.header {
    background-color: #f8f9fa;
    padding: 10px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
